.App {
  text-align: center;
  min-height: 100vh;
}

.Homer {
  height: 200px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  color: black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.PreumsKat {
  float: left;
  margin: 5px;
}

.SignUp{
  padding: 1rem;
}
.SignUp button {
  margin-top: 1.5rem;
}

.Footer {
  position: fixed;
  bottom : 0;
  line-height: 5em;
}
